body {
  background: #eee;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

* {
  box-sizing: border-box;
}

.vhigh {
  background-color: red;
}
.high {
  color: #f44;
}
.med {
  color: #fa4;
}
.low {
  color: #8f8;
}
